
<% if(msg && msg.length){%>
<div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>
        Success!
    </strong> <%=msg%>.
</div>

<%}%>