
<% if(msg && msg.length){%>
<div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>
        Success!
    </strong> <%=msg%>.
</div>

<%}%>


<% if(error && error.length){%>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>
            Failed!
        </strong> <%=error%>.
    </div>
    
    <%}%>