<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login</title>

</head>
<body>
  <%- include('./partials/flash-success.ejs') %>

<div>
  <div id="login-form-div" class="login-div">
      <h2>Login</h2>
      <div class="login-body">
        <form id="login-form" action="/chatapp/auth/login" method="POST">
            <p>
              <label class="col-sm-2 col-form-label">Email</label>
            <input type="email" id="email" name="username" placeholder="Email" class="form-control" required><i><span></span><span></span></i>
            </p>
            <p>
              <label class="col-sm-2 col-form-label">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" class="form-control" required><i><span></span><span></span></i>
            </p>
            <p>
            <input type="submit" id="login" value="Login" class="btn btn-primary">
            </p>
        </form>
          <div id="create-account-wrap">
            <p>Not a member? <a href="/chatapp/auth/register">Create Account</a><p>
          </div><!--create-account-wrap-->
      </div>
  </div>
</div>
<!-- partial -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
